<div class="uk-grid" uk-grid>
  <div class="uk-padding">
    <div class="my-pretty-box uk-padding">
      <!-- <h1>Chat:</h1> -->
      <div class="chat-wrapper">
        <p
          class="chat-bubble"
          [ngClass]="message.self ? 'self' : ''"
          *ngFor="let message of chatMessages$ | async"
        >
          {{ message.text }}
        </p>
      </div>
      <div class="uk-margin uk-button-group" uk-margin>
        <input class="uk-input" [(ngModel)]="chatMessage" (keyup.enter)="sendMessage()" />
        <button class="uk-button" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="main ">
  <div class="table">
    <div class="board">
      <div class="card-small">
        <p class="card-text black">A</p>
        <p class="card-img black">&clubs;</p>
      </div>
      <div class="card-small">
        <p class="card-text black">10</p>
        <p class="card-img black">&spades;</p>
      </div>
      <div class="card-small">
        <p class="card-text red">K</p>
        <p class="card-img red">&hearts;</p>
      </div>
      <div class="card-small">
        <p class="card-text red">Q</p>
        <p class="card-img red">&diams;</p>
      </div>
      <div class="card-small">
        <p class="card-text red">2</p>
        <p class="card-img red">&diams;</p>
      </div>
    </div>
  </div>
</div> -->
